{% extends "base.html" %}

{% load static %}

{% block content %}

<style>
    .card{
        max-width: 250px;
    }
    
    .card-deck{
        margin: 0 auto;
    }

</style>

<div class="mx-auto pt-3">
    <h2 class="text-center text-secondary">A note from the owner</h2>
</div>

<div class="bd-example pt-2">
    <p>In the past computers were only used by big organisations. Today everybody uses a computer.</p>
    <p>In the past mobiles were only used by the rich. Today almost everybody has a mobile.</p>
    <p>At Arbiter Data we envisage a world where cloud based automation is just as ubiquitious and necessary as the computer or the mobile phone. Our mission is to deliver this future to even the smallest businesses.</p>

    
  </div>

 
{% endblock %}